footer {
  width: calc(100% - 140px);
  padding: 20px 70px;
  height: auto;
  background-color: #666666; }
  footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; }
    footer ul li {
      padding: 0 10px 0 10px;
      list-style: none;
      border-left: 1px solid #ffffff; }
      footer ul li a {
        text-decoration: none;
        font-family: "Trebuchet MS regular";
        font-size: 12px;
        color: #ffffff; }
    footer ul li:first-child {
      border-left: none;
      padding-left: 0; }
  footer .footer-article {
    width: 100%;
    height: auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    footer .footer-article p {
      width: 83%;
      margin: 0;
      font-family: "Trebuchet MS regular";
      font-size: 13px;
      color: #e6e6e6; }
    footer .footer-article h2 {
      margin: 0;
      width: 17%;
      font-family: "Trebuchet MS bold";
      font-size: 32px;
      color: #ffffff;
      text-align: right; }
