$content-widht: calc(100% - 140px);
$color-pink: #d3135a;
$color-logo: #ffc2dd;
$color-black: #000000;
$color-white: #ffffff;
$color-dark-grey: #4d4d4d;
$color-grey: #e6e6e6;
$color-link: #0071bc;
$highlights-block-background: #cccccc;
$color-footer: #666666;
$background-dropmenu: #4d4d4d;
